{{>layout/header}}

<h1>이사 예약 서비스 ver.1</h1>
<div class="col-md-12">
    <!--로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/movereservation/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>예약번호</th>
            <th>아파트정보</th>
            <th>이사일자</th>
            <th>예약일자</th>
            <th>예약일자</th>
            <th>고객정보</th>
            <th>예약진행여부</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#reservations}}
            <tr>
                <td>{{reservationId}}</td>
                <td>{{aparts}}</a></td>
                <td>{{moveDate}}</td>
                <td>{{reservationDate}}</td>
                <td>{{user}}</td>
                <td>{{reservationYn}}</td>
            </tr>
        {{/reservations}}
        </tbody>
    </table>
</div>
{{>layout/footer}}