{{>layout/header}}

<h1>로그인화면</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="hpNumber">핸드폰번호</label>
                <input type="text" class="form-control" id="hpNumber" placeholder="핸드폰번호를 입력하세요 (-없이 입력해주세요)">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="text" class="form-control" id="password" placeholder="비밀번호">
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-signin">로그인</button>
    </div>
</div>

{{>layout/footer}}